@CHARSET "ISO-8859-1";

.glyphicon-ok-sign {
     color: green;
}

.glyphicon-earphone{
	 color: green;
}
.glyphicon-remove{
	color:red;
}
.glyphicon-info-sign{
	color:blue;
}

.fa-star{
	color:yellow;
}

select option[value="other"] {
    color: #80b3ff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
